<template name="chat">
  <div class="chat">
    <div class="converstation" id="scroll">
      {{#each messages}}
          {{#if message}}
          <div>
            {{breaklines message}}
            <i class="author">{{name}}</i>
          </div>
          {{/if}}
          <script type="text/javascript">if(typeof(scrolldown) == "function"){ scrolldown(); }</script>
      {{/each}}
    </div>
    <div class="conversationInput">
      <input type="text" id="messageInput" placeholder="Message" maxlength="300">
    </div>
  </div>

<script type="text/javacript">
  var scrolldown = function(){
    var elem = $('#scroll');
    elem.scrollTop = elem.scrollHeight;
  }
</script>

</template>
